.page_container {
    width: 80%;
    margin: auto;
    padding: 0.5rem 1rem;
}

.pokemon_container {
    width: 100%;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.pokemon_flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 1rem;
}

.heading {
    text-align: center;
}

.poke_image {
    flex: 1 1 auto;
}

.poke_stats_outer {
    flex: 3 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.poke_stats {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 1rem;
}

.stat_name_container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: right;
}

.stat_value_container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: right;
}

.stat_meter_container {
    flex: 6 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.stat_meter {
    height: 1.2em;
    width: 100%;
}

.stat_line {
    overflow: hidden;
}

.stat_name {
    display: inline-block;
    white-space: nowrap;
    text-align: right;
}

.pieChartContainer {
    width: 100%;
    padding: 1rem;
    margin: 2rem auto;
    padding: 0.5em 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.misc_container {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 1rem;
}

.header {
    width: 100%;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.prevNavLink {
    flex: 1 0 auto;
    text-align: left;
}

.nextNavLink {
    flex: 1 0 auto;
    text-align: right;
}

.returnNavLink {
    flex: 1 0 auto;
    text-align: center;
}
